.form-section-label {
  font-size: 1.3em !important;
  color: var(--ion-color-primary) !important;
}

.item-divider {
  --background: none;
  border-bottom: 2px solid var(--ion-color-primary);
}

ion-item {
  // HIDE EFFECTS FOR ION ITEM
  --background-hover: var(--secondary-bg-color) !important;
  --background-focused: var(--secondary-bg-color) !important;
  --button-background-activated: var(--secondary-bg-color) !important;
}

.form-input {
  border-radius: 7px;
  background: var(--ion-background-color);
  padding: 3px 10px !important;
  margin-top: 10px;
  border: 1px solid var(--tertiary-bg-color);
}
ion-select.form-input {
    padding: 8px 10px 9px 10px !important;
    min-height: 40px;
  }
.danger-text,
.item-has-focus.danger-text {
  color: var(--ion-color-danger) !important;
}
.is-invalid {
  border-color: var(--ion-color-danger);
}
