ion-avatar {
  width: 123px;
  height: 170px;
  img {
    border-radius: 11px;
  }
}

.event-calendar {
  font-size: 14px;
  overflow: hidden;
}

.event {
  text-decoration: none;
}

.event-container {
  transition: all 0.2s ease;
  border-left: 3px solid;
  background: var(--secondary-bg-color);
  color: var(--ion-text-color);

  &.available {
    border-color: var(--ion-color-success);
    ion-button {
      background-color: var(--ion-color-success);
      --background: var(--ion-color-success);
      --background-hover: var(--ion-color-success-shade);
    }
  }

  &:not(.no-hover):hover {
    background: var(--ion-background-color);
  }

  &.booked {
    border-color: var(--ion-color-danger);
    background-color: var(--secondary-bg-color);
    .title,
    .description {
      color: var(--ion-color-medium);
    }
    ion-button {
      background-color: var(--ion-color-danger);
      --background: var(--ion-color-danger);
    }
  }
}

.event-container:not(.no-hover):hover {
  border-left-width: 10px;
}

.grid-padding {
  padding-top: 3px;
  padding-left: 7px;
}

.title {
  font-weight: 600;
  font-size: 1.2em;
  width: 100%;
}

.description {
  font-size: 0.9em;
  display: block;
}
