<ion-header class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-title>Booking Details</ion-title>
    <ion-buttons slot="start">
      <ion-button outline small (click)="dismiss()">
        <ion-icon class="tertiary-txt-color" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content parallax-header class="ion-padding">
  <ion-card *ngIf="showRemarks" class="danger-border ion-no-margin ion-margin-bottom">
    <ion-card-content>
      <h6 class="colored-text">
        This booking has passed. You can add remarks (If you did not add) now by scrolling to the end of this page.
      </h6>
    </ion-card-content>
  </ion-card>
  <ng-container *ngIf="slot; else loadingSlots">
    <ion-card class="ion-no-margin ion-margin-bottom">
      <ion-card-content class="ion-no-padding">
        <ion-item>
          <ion-icon class="tertiary-txt-color" name="person" slot="start"></ion-icon>
          <ion-label class="ion-text-wrap">
            <p class="tertiary-txt-color">Student Name - ID:</p>
            <h4 class="main-text-color">
              {{slot.booking_detail.student_name + '-' + slot.booking_detail.student_sam_account_name}}</h4>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon class="tertiary-txt-color" name="briefcase" slot="start"></ion-icon>
          <ion-label>
            <p class="tertiary-txt-color">Consultation With:</p>
            <h4 class="main-text-color">{{ slot.booking_detail.consultation_with }}</h4>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon class="tertiary-txt-color" name="mail" slot="start"></ion-icon>
          <ion-label>
            <p class="tertiary-txt-color">Student Email:</p>
            <h4 class="main-text-color">{{ slot.booking_detail.student_sam_account_name + '@mail.apu.edu.my'}}</h4>
          </ion-label>
        </ion-item>
        <!-- <ion-item *ngIf="slotDetails.stuPhone">
          <ion-icon class="tertiary-txt-color" name="call" slot="start"></ion-icon>
          <ion-label>
            <p class="tertiary-txt-color">Student Phone Number:</p>
            <h4 class="main-text-color">{{ slotDetails.stuPhone }}</h4>
          </ion-label>
        </ion-item> -->
        <ion-item>
          <ion-icon class="tertiary-txt-color" name="calendar" slot="start"></ion-icon>
          <ion-label>
            <p class="tertiary-txt-color">Appointment Date:</p>
            <h4 class="main-text-color">{{ slot.start_time | dateWithTimezone: 'EEEE, dd MMM yyyy'}}</h4>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon class="tertiary-txt-color" name="time" slot="start"></ion-icon>
          <ion-label>
            <p class="tertiary-txt-color">Appointment Time:</p>
            <h4 class="main-text-color">{{ slot.start_time | dateWithTimezone: 'time' }} -
              {{ slot.end_time | dateWithTimezone: 'time' }}</h4>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon class="tertiary-txt-color" name="pin" slot="start"></ion-icon>
          <ion-label>
            <p class="tertiary-txt-color">Appointment Location:</p>
            <h4 class="main-text-color">{{ slot.venue }} | {{ slot.room_code }}</h4>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon class="tertiary-txt-color" name="help-circle" slot="start"></ion-icon>
          <ion-label class="ion-text-wrap">
            <p class="tertiary-txt-color">Appointment Reason:</p>
            <h4 class="main-text-color">{{ slot.booking_detail.reason }}</h4>
          </ion-label>
        </ion-item>
        <ion-item *ngIf="slot.booking_detail.additional_note">
          <ion-icon class="tertiary-txt-color" name="bookmark" slot="start"></ion-icon>
          <ion-label class="ion-text-wrap">
            <p class="tertiary-txt-color">Additional Note:</p>
            <h4 class="main-text-color">{{ slot.booking_detail.additional_note }}</h4>
          </ion-label>
        </ion-item>
        <!-- <ion-button *ngIf="!showRemarks" expand="block" class="danger-background ion-margin" (click)="cancelBooking(slotDetails)">Cancel
          Booking
        </ion-button> -->
      </ion-card-content>
    </ion-card>

    <ion-card class="ion-no-margin ion-margin-bottom" *ngIf="showRemarks">
      <ion-card-header class="ion-no-padding ion-padding-top ion-padding-start ion-padding-end">
        <ion-card-title>
          <h4 class="responsive-h1">
            Remarks
          </h4>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content class="ion-no-padding ion-padding-start ion-padding-end">
        <ng-container *ngIf="!slot.booking_detail.remark; else showHistory">
          <ion-textarea placeholder="Add your remarks here" [(ngModel)]="remarksText" class="form-input" rows="4">
          </ion-textarea>
          <!-- <ion-item lines="none" class="ion-no-padding">
            <ion-checkbox [(ngModel)]="copyToGIMS" slot="start"></ion-checkbox>
            <ion-label>Copy to GIMS</ion-label>
          </ion-item> -->
          <!--temporary margin vertical-->
          <ion-button class="ion-margin-vertical" expand="block" (click)="addRemarks()">Add Remarks
          </ion-button>
        </ng-container>

        <ng-template #showHistory>
          <h6 class="tertiary-txt-color">You have added remarks for
            this booking
            and the remarks are as follow:</h6>
          <p class="main-text-color ion-padding-vertical">{{slot.booking_detail.remark}}</p>
        </ng-template>
      </ion-card-content>
      <!-- <ng-template #loadingRemarks>
        <ion-item>
          <ion-skeleton-text animated style="line-height: 30px; width:80%"></ion-skeleton-text>
        </ion-item>
        <ion-item>
          <ion-skeleton-text animated style="line-height: 30px; width:45%"></ion-skeleton-text>
        </ion-item>
      </ng-template> -->
    </ion-card>


  </ng-container>
  <ng-template #loadingSlots>
    <ion-card class="ion-no-margin ion-margin-bottom">
      <ion-card-content class="ion-no-padding">
        <ion-item>
          <ion-skeleton-text animated style="line-height: 30px; width:100%"></ion-skeleton-text>
        </ion-item>
        <ion-item>
          <ion-skeleton-text animated style="line-height: 30px; width:80%"></ion-skeleton-text>
        </ion-item>
        <ion-item>
          <ion-skeleton-text animated style="line-height: 30px; width:90%"></ion-skeleton-text>
        </ion-item>
        <ion-item>
          <ion-skeleton-text animated style="line-height: 30px; width:60%"></ion-skeleton-text>
        </ion-item>
        <ion-item>
          <ion-skeleton-text animated style="line-height: 30px; width:45%"></ion-skeleton-text>
        </ion-item>
        <ion-item>
          <ion-skeleton-text animated style="line-height: 30px; width:100%"></ion-skeleton-text>
        </ion-item>
        <ion-item>
          <ion-skeleton-text animated style="line-height: 30px; width:30%"></ion-skeleton-text>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>