<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/attendance"></ion-back-button>
    </ion-buttons>

    <ion-title>
      {{ scan ? 'Scan QR Code' : 'Enter Digits' }}
    </ion-title>

    <ion-buttons slot="end">
      <ion-button *ngIf="isCordova" (click)="swapMode()" color="primary">
        <ion-icon slot="icon-only" [name]="scan ? 'code' : 'qr-code'"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [class.show-qr-scanner]="scan">
  <ion-grid>
    <ion-row>
      <ion-col offset="1" size="10">
        <div class="otp-wrapper">
          <input
            #otpInput *ngFor="let _ of digits; i as index"
            class="otp" inputmode="numeric" type="number" maxlength="1"
            (keydown)="onKey($event)" (keyup)="onKey($event)">
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
