.margin-vertical-small {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.attachments-title {
  padding-left: 20px !important;
  padding-top: 3% !important;
}

ion-img {
  height: 157px;
}

ion-fab-button {
  padding: 0px;
  margin: 0px;
}

ion-footer {
  background-color: var(--ion-color-light);

  ion-col {
    padding: 0px;
  }

  .overlayBtn {
    position: absolute !important;
  }
}

ion-fab {
  bottom: 30px;
}
