<ion-header class="ion-no-border">
    <ion-toolbar mode="md">
        <ion-buttons slot="end">
            <ion-button (click)="dismiss()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">
    <ion-card>
        <ion-card-header>
            <ion-card-title class="ion-text-center">
                <ion-text color="primary">
                    <h3 class="glob-text-bold">{{ message.title }}</h3>
                </ion-text>
            </ion-card-title>
        </ion-card-header>
        <ion-card-content class="ion-no-padding ion-padding-start ion-padding-end ion-padding-bottom">
            <div class="ion-margin-bottom ion-padding-top ion-padding-bottom message-content">
                <p [innerHTML]="message.content | safe: 'sanitizeHtml'"></p>
            </div>
            <p>
                <ion-text color="primary"><span>Sender:</span></ion-text> <span class="glob-text-bold">
                    {{ message.staff_name }}</span>
            </p>
            <p>

                <ion-text color="primary"><span>Sent on:</span></ion-text><span class="glob-text-bold">
                    {{message.sent_on | dateWithTimezone: 'EEEE, dd MMMM y'}}</span>
            </p>
            <p>
                <ion-text color="primary"><span>Sent at:</span></ion-text> <span class="glob-text-bold">
                    {{ message.sent_on | dateWithTimezone: 'time' }}</span>
            </p>
        </ion-card-content>
    </ion-card>
</ion-content>