<ion-header>
  <ion-toolbar mode="md">
    <ion-title>Notifications</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content id="content">
  <!-- refresher -->
  <ion-refresher slot="fixed" pullMax="400" pullMin="60" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshing-spinner="dots" pullingIcon="refresh"></ion-refresher-content>
  </ion-refresher>
  <div class="glob-container">
    <ion-grid>
      <ion-row>
        <ion-col size-xs="12" size-md="6" offset-md="3">
          <ion-list lines="none">
            <ion-item>
              <ion-searchbar [(ngModel)]="searchTerm" placeholder="Title, category...">
              </ion-searchbar>
            </ion-item>
            <ion-item>
              <ion-label>Unread Only</ion-label>
              <ion-toggle [(ngModel)]="filterObject.upcoming"></ion-toggle>
            </ion-item>
            <ion-item>
              <ion-label>Category</ion-label>
              <ion-select multiple="true" [(ngModel)]="filterObject.categories">
                <ion-select-option selected="true" *ngFor="let category of categories" [value]="category">
                  {{ category }}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>


          <ng-container *ngIf="(messages$ | async) as messages; else loading">
            <div
              *ngIf="(messages.history | unreadMessagesOnly: filterObject.upcoming | notificationCategory: filterObject.categories).length > 0; else noNotifications">
              <div
                *ngIf="(messages.history | unreadMessagesOnly: filterObject.upcoming | notificationCategory: filterObject.categories | fuse:searchTerm:optionsNotifications).length > 0, else notFound">
                <ion-virtual-scroll
                  [items]="messages.history | unreadMessagesOnly: filterObject.upcoming | notificationCategory: filterObject.categories | fuse:searchTerm:optionsNotifications"
                  approxItemHeight="68px">
                  <ion-item *virtualItem="let message" (click)="openNotificationsModal(message)" button="true">
                    <span class="dot" *ngIf="(!message.read && openedMessages.indexOf(message.message_id) === -1)">
                    </span>
                    <ion-col class="ion-margin">
                      <ion-label class="glob-white-space-normal" style="margin-bottom: 5px;">
                        <h3 class="glob-text-bold"
                            [ngClass]="{'unread' : (!message.read && openedMessages.indexOf(message.message_id) === -1)}">
                          {{message.title}}
                        </h3>
                        <p>
                        {{ message.sent_on | dateWithTimezone: 'dd MMMM y' }} {{ message.sent_on | dateWithTimezone: 'time' }}
                        </p>
                      </ion-label>
                      <ion-badge
                        [attr.style]="(!message.read && openedMessages.indexOf(message.message_id) === -1) ? '--background: ' + getCategoryColor(message.category) : '--background: var(--ion-color-medium) !important' | safe: 'bypassStyle'">
                        {{message.category}}
                      </ion-badge>
                    </ion-col>
                  </ion-item>
                </ion-virtual-scroll>
              </div>
            </div>

            <ng-template #notFound>
              <app-message-with-svg imageUrl="assets/img/search-not-found.svg" messageTitle="Opps! Item not found."
                                                                               messageContent="Perhaps you can try this:" wrapperSize="4" wrapperMarginTop="30px" wrapperOffset="4"
                                                                                                                                                                  [advancedMode]="true">
                <div class="flex-container">
                  <ul class="list-txt-color">
                    <li>Make sure the keyword is matched with one of the items</li>
                    <li>Make sure you have typed a valid item code.</li>
                    <li>Make sure there is no special characters included.</li>
                  </ul>

                  <p>Still having trouble? No worries! Just click <a [routerLink]="'/feedback'">here</a> and
                  report to
                  us for this issue.</p>
                </div>
              </app-message-with-svg>
            </ng-template>

            <ng-template #noNotifications>
              <app-message-with-svg
                messageTitle="No {{filterObject.upcoming ? 'Unread' : ''}} Messages To Show{{filterObject.categories.length > 0 ? ' with the category/categories (' + filterObject.categories.toString() + ')' : ''}}!"
                messageContent="The list of {{filterObject.upcoming ? 'unread' : ''}} messages is empty. Stay connected to us to receive the latest news and notifications."
                imageUrl="assets/img/empty.svg" wrapperOffset="4" wrapperSize="4" wrapperMarginTop="50px">
              </app-message-with-svg>
            </ng-template>
          </ng-container>

          <ng-template #loading>
            <ion-item *ngFor="let _ of skeletons">
              <ion-label>
                <h2>
                  <ion-skeleton-text animated style="line-height: 20px; width: 70%;"></ion-skeleton-text>
                </h2>
                <p>
                <ion-skeleton-text animated style="line-height: 10px; width: 40%;"></ion-skeleton-text>
                </p>
                <ion-skeleton-text animated style="line-height: 15px; width: 20%;"></ion-skeleton-text>
              </ion-label>
            </ion-item>
          </ng-template>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-footer *ngIf="!isStudent">
  <ion-toolbar>
    <ion-title class="ion-text-center" size="small">
      Click <a (click)="openDingDongModal()" style="cursor: pointer;">here</a> to change email subscription preferences
    </ion-title>
  </ion-toolbar>
</ion-footer>
