<ion-header>
  <ion-toolbar mode="md">
    <ion-title>News Feed</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-refresher slot="fixed" pullMax="400" pullMin="60" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshing-spinner="dots" pullingIcon="refresh"></ion-refresher-content>
  </ion-refresher>

  <!-- Notice Board SECTION -->
  <div class="glob-container">
    <ion-grid class="ion-no-padding slider-container"
      *ngIf="noticeBoardItems$ | async as noticeBoardItems; else loadingSlideshow">
      <ion-row *ngIf="noticeBoardItems.length > 0; else noSlides">
        <ion-col class="ion-no-padding" size="12">
          <ion-slides #slides pager="true" [options]="noticeBoardSliderOpts">
            <ion-slide *ngFor="let noticeBoardItem of noticeBoardItems">
              <ion-card class="ion-no-margin">
                <ion-card-content class="ion-no-padding">
                  <div class="slider-image">
                    <a href="{{ noticeBoardItem['post-meta-fields']['slideshow_url'] && noticeBoardItem['post-meta-fields']['slideshow_url'][0] ? noticeBoardItem['post-meta-fields']['slideshow_url'][0] : noticeBoardItem.link }}"
                      target="_blank">
                      <img src="{{noticeBoardItem.featured_media_source[0].source_url}}" alt="" />
                    </a>
                  </div>
                </ion-card-content>
                <div class="swiper-button-next">
                  <ion-icon name="chevron-forward-outline" size="large" tappable (click)="nextSlide()">
                  </ion-icon>
                </div>
                <div class="swiper-button-prev">
                  <ion-icon name="chevron-back-outline" size="large" tappable (click)="prevSlide()">
                  </ion-icon>
                </div>
              </ion-card>
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>
      <ng-template #noSlides>
        <app-message-with-svg messageTitle="No Images Added to The Board!"
          messageContent="There are no notices to show." imageUrl="assets/img/empty.svg" wrapperOffset="3"
          wrapperSize="6">
        </app-message-with-svg>
      </ng-template>
    </ion-grid>
    <ng-template #loadingSlideshow>
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size="12">
            <ion-list style="margin-top: 2px;">
              <div class="news-wrapper">
                <ion-skeleton-text style="width: 100%; line-height: 200px;" animated></ion-skeleton-text>
              </div>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-template>



    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="8" size-xl="6" offset-md="2" offset-xl="3">
          <ng-template let-news [ngIf]="news$ | async" [ngIfElse]="loadingNews">
            <ng-template [ngIf]="news && news.length > 0" [ngIfElse]="nonews">
              <ion-text color="primary">
                <h2 class="news-header" class="glob-text-bold ion-text-center ion-padding">News</h2>
              </ion-text>
              <div *ngFor="let newsItem of news">
                <ion-card class="ion-margin" tappable (click)="openModal(newsItem)">
                  <img [src]="newsItem.url" />
                  <ion-card-content>
                    <ion-text>
                      <p>
                        {{ newsItem.title }}
                      </p>
                    </ion-text>
                    <ion-text>
                      <p>
                        {{ newsItem.updated | dateWithTimezone : 'yyyy-MM-dd HH:mm:ss'}}
                      </p>
                    </ion-text>
                  </ion-card-content>
                </ion-card>
              </div>
            </ng-template>

            <ng-template #nonews>
              <ion-card class="ion-padding">
                <ion-card-content>
                  <p>No news available</p>
                </ion-card-content>
              </ion-card>
            </ng-template>
          </ng-template>
          <ng-template #loadingNews>
            <div *ngFor="let s of skeletonSettings.numberOfSkeltons">
              <ion-card tappable>
                <ion-skeleton-text class="ion-no-margin" animated style="width: 100%; line-height: 200px">
                </ion-skeleton-text>
                <ion-card-content>
                  <ion-skeleton-text animated style="width: 60%; line-height: 15px"></ion-skeleton-text>
                </ion-card-content>
              </ion-card>
            </div>
          </ng-template>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>