<ion-header>
  <ion-toolbar mode="md">
    <ion-title>Settings</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="glob-container">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="6">
          <ion-card class="ion-no-margin ion-margin-bottom">
            <ion-card-header>
              <ion-card-title>
                <h3 class="ion-no-margin">
                  <ion-text color="primary">
                    Customization
                  </ion-text>
                </h3>
              </ion-card-title>
              <ion-card-subtitle>
                <p class="ion-no-margin">Customize the look and behaviour of the app the way you want</p>
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content class="ion-no-padding">
              <ion-list class="ion-no-padding">
                <ion-item-group>
                  <ion-item-divider class="ion-padding-start ion-padding-end glob-text-bold" color="light" lines="none">
                    <ion-icon color="primary" slot="end" name="color-palette"></ion-icon>
                    <ion-label color="primary">
                      Theme
                    </ion-label>
                  </ion-item-divider>
                  <ion-item>
                    <ion-label>Theme</ion-label>
                    <ion-select [ngModel]="theme$ | async" (ngModelChange)="changeTheme($event)">
                      <ion-select-option value="">Auto (Default)</ion-select-option>
                      <ion-select-option value="light">Light</ion-select-option>
                      <ion-select-option value="dark">Dark</ion-select-option>
                      <ion-select-option value="dark pure">Dark (Pure)</ion-select-option>
                    </ion-select>
                  </ion-item>
                  <ion-item>
                    <ion-label>Accent Color</ion-label>
                    <ion-select [ngModel]="accentColor$ | async" [disabled]="theme$ | async | isPure"
                      (ngModelChange)="changeAccentColor($event)">
                      <ng-container *ngFor="let accentColor of accentColors">
                        <ion-select-option
                          *ngIf="(theme$ | async | isPure) ? accentColor.name === 'white' : accentColor.name !== 'white'"
                          [value]="accentColor.name">
                          {{ accentColor.title }}
                        </ion-select-option>
                      </ng-container>
                    </ion-select>
                  </ion-item>
                </ion-item-group>

                <ion-item-group *ngIf="locations$ | async as locations">
                  <ion-item-divider class="ion-padding-start ion-padding-end glob-text-bold" color="light" lines="none">
                    <ion-icon color="primary" slot="end" name="bus"></ion-icon>
                    <ion-label color="primary">
                      Bus Shuttle Service
                    </ion-label>
                  </ion-item-divider>
                  <ion-item>
                    <ion-label>First Location</ion-label>
                    <ion-select [(ngModel)]="busShuttleServiceSettings.firstLocation"
                      (ngModelChange)="setBusShuttleServicesSettings()">
                      <ion-select-option [value]="location.location_name" *ngFor="let location of locations">
                        {{location.location_nice_name}}
                      </ion-select-option>
                    </ion-select>
                  </ion-item>
                  <ion-item>
                    <ion-label>Second Location</ion-label>
                    <ion-select [(ngModel)]="busShuttleServiceSettings.secondLocation"
                      (ngModelChange)="setBusShuttleServicesSettings()">
                      <ion-select-option [value]="location.location_name" *ngFor="let location of locations">
                        {{location.location_nice_name}}
                      </ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-item-group>

                <ion-item-group *ngIf="!isStudent">
                  <ion-item-divider class="ion-padding-start ion-padding-end glob-text-bold" color="light" lines="none">
                    <ion-icon color="primary" slot="end" name="location"></ion-icon>
                    <ion-label color="primary">
                      iConsult Default Location
                    </ion-label>
                  </ion-item-divider>
                  <ion-item>
                    <ion-label>Campus</ion-label>
                    <ion-select [(ngModel)]="defaultCampus" (ngModelChange)="updateDefaultLocation('campus')">
                      <ion-select-option *ngFor="let location of locationOptions" [value]="location">
                        {{ location }}
                      </ion-select-option>
                    </ion-select>
                  </ion-item>
                  <ion-item>
                    <ion-label>Venue</ion-label>
                    <ion-select interface="alert" *ngIf="venues$ | async as venues" [disabled]="!defaultCampus"
                      [(ngModel)]="defaultVenue" (ngModelChange)="updateDefaultLocation('venue')">
                      <ion-select-option *ngFor="let venue of venues" [value]="venue.id">
                        {{ venue.room_code }}
                      </ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-item-group>

                <ion-item-group *ngIf="isStudent">
                  <ng-container *ngIf="modulesBlacklist$ | async as modulesBlacklist">
                    <ion-item-divider class="ion-padding-start ion-padding-end glob-text-bold" color="light" lines="none">
                      <ion-icon color="primary" slot="end" name="calendar"></ion-icon>
                      <ion-label color="primary">
                        Student Timetable
                      </ion-label>
                    </ion-item-divider>
                    <ion-item lines="none">
                      <ion-label>Hidden Modules</ion-label>
                    </ion-item>
                    <ion-chip *ngFor="let module of modulesBlacklist" (click)="timetableModuleBlacklistsRemove(module)">
                      <ion-icon name="remove" color="danger"></ion-icon>
                      <ion-label>{{ module }}</ion-label>
                    </ion-chip>
                    <ion-chip (click)="timetableModuleBlacklistsAdd()">
                      <ion-icon name="add" color="success"></ion-icon>
                      <ion-label>Add</ion-label>
                    </ion-chip>
                  </ng-container>
                </ion-item-group>

                <ion-item-group>
                  <ion-item-divider class="ion-padding-start ion-padding-end glob-text-bold" color="light" lines="none">
                    <ion-icon color="primary" slot="end" name="apps"></ion-icon>
                    <ion-label color="primary">
                      Others
                    </ion-label>
                  </ion-item-divider>
                  <ion-item>
                    <ion-label>Menu UI</ion-label>
                    <ion-select [(ngModel)]="menuUI" (ngModelChange)="toggleMenuUI()">
                      <ion-select-option [value]="'cards'">
                        Cards
                      </ion-select-option>
                      <ion-select-option [value]="'list'">
                        List
                      </ion-select-option>
                    </ion-select>
                  </ion-item>
                  <ion-item lines="full">
                    <ion-label>Hide Profile Picture</ion-label>
                    <ion-toggle [(ngModel)]="hideProfilePicture" (ngModelChange)="toggleDisplayProfilePicture()"></ion-toggle>
                  </ion-item>
                  <ion-item lines="full">
                    <ion-label>
                      Use Local Timezone
                    </ion-label>
                    <ion-toggle [(ngModel)]="enableMalaysiaTimezone" (ngModelChange)="toggleDisplayMalaysiaTimezone()">
                    </ion-toggle>
                  </ion-item>
                  <ion-item lines="full">
                    <ion-label>Time Format</ion-label>
                    <ion-select [(ngModel)]="timeFormat" (ngModelChange)="toggleTimeFormat()">
                      <ion-select-option value="12">12 Hours</ion-select-option>
                      <ion-select-option value="24">24 Hours</ion-select-option>
                    </ion-select>
                  </ion-item>
                  <ion-item [disabled]="!isCordova" lines="full">
                    <ion-label>
                      Disable Shake Feedback
                      <p *ngIf="!isCordova">This feature available only on mobile app</p>
                    </ion-label>
                    <ion-toggle [(ngModel)]="disableShakespear" (ionChange)="toggleDisableShakespear()" color="primary"></ion-toggle>
                  </ion-item>
                  <ng-template [ngIf]="!disableShakespear">
                    <ion-item [disabled]="!isCordova"  lines="none">
                      <ion-label>Shake Sensitivity</ion-label>
                      <ion-range value="1400" color="primary" min="0" max="4" step="1" ticks="true" snaps="true"
                                 [(ngModel)]="shakeSensitivity" (ionChange)="getSensitivitySlider()">
                        <ion-icon slot="start" size="small" color="primary" name="trending-down-outline"></ion-icon>
                        <ion-icon slot="end" color="primary" name="trending-up-outline"></ion-icon>
                      </ion-range>
                    </ion-item>
                  </ng-template>
                </ion-item-group>

              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size="12" size-md="6">
          <ion-card class="ion-no-margin ion-margin-bottom">
            <ion-card-header>
              <ion-card-title>
                <h3 class="ion-no-margin">
                  <ion-text color="primary">
                    Security & Privacy
                  </ion-text>
                </h3>
              </ion-card-title>
              <ion-card-subtitle>
                <p class="ion-no-margin">Secure your account to prevent others from accessing your data</p>
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content class="ion-no-padding">
              <ion-list class="ion-no-padding">

                <ion-item-group>
                  <ion-item-divider class="ion-padding-start ion-padding-end glob-text-bold" color="light" lines="none">
                    <ion-icon slot="end" name="key-sharp" color="primary"></ion-icon>
                    <ion-label color="primary">
                      Passwords
                    </ion-label>
                  </ion-item-divider>
                  <ion-item detail="true" button="true" lines="full" (click)="navigateToPage('change-password')">
                    <ion-label>Change APKey Password</ion-label>
                  </ion-item>
                  <ion-item *ngIf="!isStudent" button="true" detail="true" lines="full" (click)="navigateToPage('change-webspace-password')">
                    <ion-label>Change Webspace Password</ion-label>
                  </ion-item>
                  <ion-item *ngIf="!isStudent" button="true" detail="true" lines="full" (click)="navigateToPage('reset-webspace-password')">
                    <ion-label>Reset Webspace ID Password</ion-label>
                  </ion-item>
                  <ion-item lines="none" detail="true" button="true" (click)="navigateToPage('set-security-questions')">
                    <ion-label>Set Security Questions</ion-label>
                  </ion-item>
                </ion-item-group>

                <ion-item-group>
                  <ion-item-divider class="ion-padding-start ion-padding-end glob-text-bold" color="light" lines="none">
                    <ion-icon color="primary" slot="end" name="apps"></ion-icon>
                    <ion-label color="primary">
                      Others
                    </ion-label>
                  </ion-item-divider>
                  <ion-item button="true" detail="true" lines="full" (click)="resetByod()">
                    <ion-label>BYOD Reset</ion-label>
                  </ion-item>
                </ion-item-group>

              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
