.small-margin-top {
  margin-top: 10px;
}

.avatar {
  margin: auto;
  width: 128px;
  height: 128px;
}

.filter-item {
  padding-left: 8px;
  padding-right: 8px;
  --padding-start: 10px;
}

.right-notch {
  padding-right: 10px;
}

// Small Screen (Mobile)
@media only screen and (max-width: 576px) {
  .avatar {
    width: 115px;
    height: 99px;
    margin: auto;
    margin-bottom: 15px;
  }
}
