p, h1, h2, h3, h4, h5, h6{
  line-height: 25px;
}

.bigger-font{
  font-size: 1.6em;
  font-weight: bold;
}

.virtual-card {
  margin: auto;
  position: relative;
  width: 310px !important;

  img {
    border-radius: 10px;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }

  .virtual-card-student-img {
    position: absolute !important;
    bottom: 15px !important;
    right: 0 !important;
    padding: 15px 0 !important;
    height: 123px !important;
    margin-right: 5px;
  }

  .virtual-card-student-details {
    position: absolute !important;
    top: 80px !important;
    color: #000 !important;
    left: 10px !important;
    width: 200px !important;

    .virtual-card-student-name {
      margin: 0;
      font-size: 0.9rem;
      margin-bottom: 20px;
    }

    .virtual-card-student-ids {
      font-size: 0.7rem;
      margin-top: 2px;
      margin-bottom: 0;

      .attr {
        display: inline-block;
        width: 9em;
      }

      .attr::after {
        content: ':';
      }
    }

  }
}

.gradient-background {
  --ion-background-color: #3a99d9 !important;  /* fallback for old browsers */;
  --ion-background-color: var(--ion-more-page-background-color) !important;
}

.custom-card {
  position: relative;
  background-color: var(--ion-staff-profile-card-color);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-top: 100px;
  padding-right: 35px;
}

.profile-photo {
  margin-top: 16px;
  max-height: 150px;
  max-width: 122px;
}

.counsellor-profile-photo {
  max-height: 150px;
  max-width: 122px;
}

.staff-profile-picture {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 130%;
  width: 250px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  object-fit: cover;
}

.staff-profile-picture:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

ion-img {
  height: 100%;
  border-radius: 15px;
  margin: auto;
}

.margin-auto {
  margin: auto;
}

// h1{
//   font-weight: bold;
// }

.cursor-pointer {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  ion-col {
    border: none;

    ion-card:not(.orientation) {
      box-shadow: none;
      --background: transparent !important;
    }
  }

  .virtual-card {
    margin: auto !important;
    float: none !important;
  }

  .staff-profile-picture {
    position: static;
    transform: translate(0%, 0%);
    height: 100%;
    width: 40%;
  }

  .staff-picture-in-mobile {
    text-align: center;
  }

  .custom-card {
    box-shadow: none;
    margin-top: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 360px) {
  .virtual-card {
    width: 268px !important;

    .virtual-card-student-img {
      position: absolute !important;
      bottom: 4px !important;
      right: 0 !important;
      padding-top: 4px !important;
      padding-bottom: 25px !important;
      height: 107px !important;
    }

    .virtual-card-student-details {
      position: absolute !important;
      top: 71px !important;
      color: #000 !important;
      left: 10px !important;
      width: 153px !important;

      .virtual-card-student-name {
        font-size: 0.7rem;
      }

      .virtual-card-student-ids {
        font-size: 0.59rem !important;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .virtual-card {
    width: 250px !important;

    .virtual-card-student-img {
      bottom: 0 !important;

    }
  }

}
