<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/attendix/classes"></ion-back-button>
    </ion-buttons>
    <ion-title>AttendiX | {{ thisClass ? 'New' : 'Edit' }} Attendance </ion-title>
    <ion-buttons slot="end">
      <ion-button [disabled]="!thisClass || hideQr" [color]="auto ? 'success' : ''" fill="outline">
        <ion-toggle [disabled]="!thisClass || hideQr" [(ngModel)]="auto" [color]="auto ? 'success' : ''"></ion-toggle>
        <ion-label [color]="auto ? 'success' : ''">QR</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="attendix-content">
  <!-- QR code page -->
  <ng-template [ngIf]="auto && !hideQr" [ngIfElse]="override">
    <ion-grid class="ion-no-padding">
      <ion-row *ngIf="otp$ | async as otp">
        <ion-col size="12" size-md="9" size-lg="7">
              <qrcode *ngIf="otp" [qrdata]="otp" width="600" errorCorrectionLevel="H" [ngStyle]="{filter: otp === '---' ? 'blur(5px)' : '',
                            opacity: otp === '---' ? '0.5' : ''}"></qrcode>
              <div *ngIf="otp === '---'" class="dead">
                <p><strong>Class Time Over</strong></p>
                <p>Please switch to manual mode</p>
              </div>
        </ion-col>

        <ion-col size="12" size-md="3" size-lg="5">
          <ion-card>
            <ion-card-content class="ion-no-padding">
              <div class="ion-text-center ion-margin-top">
                <div *ngFor="let c of otp | chars" class="otp">
                  {{ c }}
                </div>
                <ion-text *ngIf="otp !== '---'" color="danger">
                  <p>OTP expires in ({{ countdown$ | async }}s)</p>
                </ion-text>
              </div>
              <div class="ion-padding ion-text-center">
                <div>
                  <ion-text color="primary" class="glob-text-bold">
                    <small>{{ schedule!.classcode }}</small>
                  </ion-text>
                </div>
                <div class="small-margin-top">
                  <p class="ion-no-margin"><small>Class Type & Date</small></p>
                  <small class="glob-text-bold">{{ schedule!.classType }} on {{ schedule!.date | date : 'EEE, dd MMM yyy' }}
                  </small>
                </div>
                <div class="small-margin-top">
                  <p class="ion-no-margin"><small>Class Time</small></p>
                  <small class="glob-text-bold">{{ schedule!.startTime }} to {{ schedule!.endTime }}
                  </small>
                </div>
                <div class="ion-margin-top">
                  <ion-grid class="ion-no-padding">
                    <ion-row>
                      <ion-col size="6" offset="3" class="ion-no-padding">
                        <chart *ngIf="studentsChartData$ | async as chartData" height="100" width="100"
                          [type]="doughnutChart.type" [data]="chartData" [options]="doughnutChart.options">
                        </chart>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </div>
                <div class="ion-margin-top">
                  <ion-button size="small" fill="outline" (click)="markAllAbsent()" color="danger">Reset All to Absent
                  </ion-button>
                </div>
                <div class="ion-margin-top">
                  <ion-item lines="none" class="ion-no-padding">
                    <ion-textarea placeholder="Add your notes here" rows="1" class="form-input"
                      [ngModel]="lectureUpdate" (ionChange)="save($event.target.value)"
                      (ionBlur)="save($event.target.value)" debounce="2000"></ion-textarea>
                  </ion-item>
                </div>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-card class="ion-no-margin ion-margin-top ion-margin-bottom">
      <ion-card-content>
        <h2 class="text-bold colored-text">Last 10 Students Signed The Attendance</h2>
        <ng-container *ngIf="lastMarked$ && (lastMarked$ | async) as students; else noStudents">
          <ion-chip *ngFor="let student of students">
            <ion-label>{{student.name}}</ion-label>
          </ion-chip>
        </ng-container>
        <ng-template #noStudents>
          <p>No students scanned the QR code yet.</p>
        </ng-template>
      </ion-card-content>
    </ion-card>
  </ng-template>
  <!-- manual mode page -->
  <ng-template #override>
    <!-- just subscribe for the side effects -->
    <ng-template [ngIf]="lastMarked$ | async"></ng-template>
    <ion-card>
      <ion-card-header color="primary">
        <ion-card-title>{{ thisClass ? '' : 'Edit' }} Class Attendance</ion-card-title>
        <ion-card-subtitle>
          For {{ schedule!.classcode }}
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="12" size-md="6" size-lg="4">
              <div>
                <ion-item class="ion-no-padding" lines="none">
                  <ion-icon slot="start" color="primary" name="calendar-outline" class="main-text-color"></ion-icon>
                  <ion-label>{{schedule!.classType}} on {{schedule!.date | date : 'EEE, dd MMM yyy' }}</ion-label>
                </ion-item>
                <ion-item class="ion-no-padding" lines="none">
                  <ion-icon slot="start" color="primary" name="alarm-outline" class="main-text-color"></ion-icon>
                  <ion-label>{{schedule!.startTime}} to {{schedule!.endTime}}</ion-label>
                </ion-item>
                <ion-item class="ion-no-padding" lines="none">
                  <ion-icon slot="start" color="primary" name="people-outline" class="main-text-color"></ion-icon>
                  <ion-label>{{totalStudents$ | async}} Students</ion-label>
                </ion-item>
                <ion-item class="ion-no-padding" lines="none">
                  <ion-icon slot="start" color="primary" name="pricetag-outline" class="main-text-color"></ion-icon>
                  <ion-textarea [ngModel]="lectureUpdate" (ionChange)="save($event.target.value)"
                    (ionBlur)="save($event.target.value)" debounce="5000" placeholder="Add your notes here" rows="1"
                    class="ion-no-padding"></ion-textarea>
                </ion-item>
              </div>
            </ion-col>
            <ion-col size="12" size-md="6" size-lg="4" class="glob-margin-auto">
              <chart *ngIf="studentsChartData$ | async as chartData" height="300" width="300"
                [type]="doughnutChart.type" [data]="chartData" [options]="doughnutChart.options">
              </chart>
            </ion-col>
            <ion-col size="12" size-md="12" size-lg="4" class="glob-margin-auto">
              <ion-button fill="outline" color="primary" (click)="markAll()">
                Mark All As ..
              </ion-button>
              <br>
              <ion-button *ngIf="resetable" fill="outline" color="danger" (click)="reset()">
                Delete Class Attendance
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <!-- students list -->
    <ion-card>
      <ion-card-header>
        <ion-grid class="ion-no-padding">
          <ion-row>
            <ion-col class="glob-margin-auto ion-no-padding">
              <ion-card-title color="primary">
                Students List
              </ion-card-title>
            </ion-col>
            <ion-col class="ion-no-padding select-container">
              <ion-grid class="ion-no-padding">
                <ion-row>
                  <ion-col class="ion-no-padding glob-margin-auto ion-padding-end">
                    <ion-select class="input" [(ngModel)]="type" placeholder="Status" interface="popover">
                      <ion-select-option value="">Any Status</ion-select-option>
                      <ion-select-option value="Y">Present</ion-select-option>
                      <ion-select-option value="L">Late</ion-select-option>
                      <ion-select-option value="N">Absent</ion-select-option>
                      <ion-select-option value="R">Absent with reason</ion-select-option>
                    </ion-select>
                  </ion-col>
                  <ion-col class="ion-no-padding">
                    <ion-searchbar class="input ion-no-padding no-box-shadow" placeholder="Student ID, Name"
                      [(ngModel)]="term"></ion-searchbar>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-card-header>
      <ion-card-content class="ion-no-padding">
        <!-- table -->
        <ion-card class="table ion-no-margin">
          <ion-card-content class="table-container">
            <ion-grid class="ion-no-padding">
              <ng-container *ngIf="students$ | async as studentsList">
                <ng-container *ngIf="studentsList | attendance:type | search:term as filteredStudents">
                  <ng-container *ngIf="filteredStudents.length > 0; else noFilteredStudents">
                    <ion-virtual-scroll [items]="filteredStudents" [trackBy]="trackById" approxItemHeight="48px">
                      <ion-row class="table-row glob-text-bold ion-no-margin" *virtualItem="let student; let i = index;"
                        [ngClass]="'state' + student.attendance">
                        <ion-col class="glob-margin-auto" size="1" size-sm="auto">
                          <p class="larger-font-size">
                            <ion-text>{{i + 1}}.</ion-text>
                          </p>
                        </ion-col>
                        <ion-col class="glob-margin-auto ion-padding-start" size="4" size-sm="auto">
                          <p class="larger-font-size">
                            <ion-text class="text-bold">{{ student.id }}</ion-text>
                          </p>
                        </ion-col>
                        <ion-col class="glob-margin-auto ion-padding-start" size="7" size-sm="">
                          <p class="larger-font-size">
                            <ion-text class="text-bold">{{ student.name }}</ion-text>
                          </p>
                        </ion-col>
                        <ion-col size="3" size-sm="" class="glob-margin-auto ion-no-padding"
                          *ngIf="student.attendance === 'N' || student.attendance === 'R'">
                          <ion-input [value]="student.absentReason" placeholder="Absent with reason"
                            (change)="mark(student.id, 'R', $event)"></ion-input>
                        </ion-col>
                        <ion-col size="9" size-sm="" class="glob-margin-auto ion-text-right">
                          <ion-buttons class="ion-float-right">
                            <ion-button size="small" [disabled]="student.attendance === 'Y'" class="stateY"
                              (click)="mark(student.id, 'Y')">Present
                            </ion-button>
                            <ion-button size="small" [disabled]="student.attendance === 'L'" class="stateL"
                              (click)="mark(student.id, 'L')">Late
                            </ion-button>
                            <ion-button size="small" [disabled]="student.attendance === 'N'" class="stateN"
                              (click)="mark(student.id, 'N')">Absent
                            </ion-button>
                          </ion-buttons>
                        </ion-col>
                      </ion-row>
                    </ion-virtual-scroll>
                  </ng-container>
                  <ng-template #noFilteredStudents>
                    <ion-row>
                      <ion-col size="12">
                        <h2 class="ion-text-center ion-padding">No students found
                          {{term ? 'with the keyword ' + term : ''}} <span *ngIf="type"> and status of
                            {{type === 'Y' ? 'Present' : type === 'N' ? 'Absent' : type === 'L' ? 'Late' : 'Absent with reason'}}</span>.
                        </h2>
                      </ion-col>
                    </ion-row>
                  </ng-template>
                </ng-container>
              </ng-container>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>
