.show-qr-scanner {
  display: none;
}

.form-input {
  border-radius: 7px;
  background: var(--main-bg-color);
  padding: 0 10px !important;
  margin-top: 10px;
  border: 1px solid var(--tertiary-bg-color);
  min-height: 40px;
}

ion-select.form-input {
  padding: 8px 10px 9px 10px !important;
}

.white-space-normal {
  white-space: normal;
}

// valid_session
.full-screen {
  height: 88vh;
}

.secondary-text {
  color: var(--secondary-txt-color);
}

ion-chip.large {
  font-size: 2em;
}

// mark new attendance
.input-item {
  --background-hover: transparent !important;
  --background-activated: transparent !important;
  --ripple-color: transparent !important;

  ion-label {
    padding-left: 2px;
  }

  &.item-interactive-disabled {
    ion-label {
      opacity: .5 !important;
    }
  }
}

.transparent {
  --background: transparent !important;
}

ion-radio-group.form-input {
  width: 100%;
}
