.menu {
  display: flex;
  justify-content: space-around;
  position: absolute;
  overflow-y: scroll;
  max-height: 90vh;
  background-color: var(--ion-tab-bar-background, var(--ion-background-color, #444));
  padding: 0 32px;
  width: 100%;

  &.large-device-menu {
    border-top: 56px solid transparent;
  }

  &.small-device-menu {
    z-index: 2000;
  }

  &.search-bar-open {
    max-height: 85vh;
  }

  a {
    text-decoration: none;
    color: var(--ion-text-color);
  }

  a:hover {
    color: var(--ion-color-tertiary);
  }

  .parent::after {
    content: ' » ';
  }

  @media screen and (max-width: 600px) {
    flex-direction: column;
  }
}

.system-title {
  position: relative;
  left: 36px;

  img {
    position: absolute;
    top: -2px;
    left: -36px;
    width: 33px;
    z-index: 1;
  }
}

.tabs-searchbar {
  width: 277px;
  position: absolute;
  top: 0px;
  left: 28px;
  --border-radius: 50px;
  text-align: left;
  --background: var(--ion-color-step-100);
  --placeholder-color: var(--ion-color-step-950);
  display: none;
  padding-left: 0;
  padding-right: 0;
}

.extra-tab {
  display: none;
  visibility: hidden;
}

@media screen and (min-width: 720px) {
  .tabs-searchbar {
    display: block;
  }

  .extra-tab {
    display: block;
  }
}


@media screen and (min-width: 976px) {
  .extra-tab.extra-tab-1 {
    display: none;
  }
}

@media screen and (min-width: 1240px) {
  .extra-tab.extra-tab-1 {
    display: none;
  }

  .extra-tab.extra-tab-2 {
    display: none;
  }
}

@media screen and (min-width: 1425px) {
  .extra-tab.extra-tab-1 {
    display: none;
  }

  .extra-tab.extra-tab-2 {
    display: none;
  }

  .extra-tab.extra-tab-3 {
    display: none;
  }
}
