ion-card-content.card-content-md {
  padding-left: 16px;
}
.card-header-title {
  font-size: 1.2rem;
}

ion-label {
  white-space: normal !important;
}
ion-card.cancelled {
  box-shadow: 0 3px 1px -2px var(--ion-color-danger), 0 2px 2px 0 var(--ion-color-danger), 0 1px 5px 0 var(--ion-color-danger);
  ion-badge {
    background: var(--ion-color-danger);
  }
}

ion-card.passed {
  .card-header-title{
    color: var(--ion-color-medium) !important;
  }
  box-shadow: 0 3px 1px -2px var(--ion-color-medium), 0 2px 2px 0 var(--ion-color-medium), 0 1px 5px 0 var(--ion-color-medium);
  ion-badge {
    background: var(--ion-color-medium);
  }
  ion-button.colored-background {
    --background: var(--ion-color-medium) !important;
    --background-hover: var(--ion-color-medium);
  }
}

ion-button.danger-background {
  --background: var(--ion-color-danger) !important;
  --background-hover: var(--ion-color-danger-shade);
}

.text-color {
  color: var(--ion-text-color);
}

.chat-in-teams {
  --background: #464775;
  --background-hover: #5f60a3;
}