<ion-header class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-title>Booking Details</ion-title>
    <ion-buttons slot="start">
      <ion-button outline small (click)="dismiss()">
        <ion-icon class="tertiary-txt-color" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content parallax-header class="ion-padding">
  <ng-container *ngIf="booking; else loadingSlots">
    <ion-card class="ion-no-margin ion-margin-bottom">
      <ion-card-content class="ion-no-padding">
        <ion-item>
          <ion-icon class="tertiary-txt-color" name="person" slot="start"></ion-icon>
          <ion-label class="ion-text-wrap">
            <p class="tertiary-txt-color">Staff Name:</p>
            <h4 class="main-text-color">{{ booking.staff_detail.FULLNAME }}</h4>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon class="tertiary-txt-color" name="briefcase" slot="start"></ion-icon>
          <ion-label>
            <p class="tertiary-txt-color">Consultation With:</p>
            <h4 class="main-text-color">{{ booking.consultation_with }}</h4>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon class="tertiary-txt-color" name="mail" slot="start"></ion-icon>
          <ion-label>
            <p class="tertiary-txt-color">Staff Email:</p>
            <h4 class="main-text-color">{{ booking.staff_detail.EMAIL }}</h4>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon class="tertiary-txt-color" name="time" slot="start"></ion-icon>
          <ion-label>
            <p class="tertiary-txt-color">Appointment Date:</p>
            <h4 class="main-text-color">{{ booking.slot_start_time | dateWithTimezone: 'yyyy-MM-dd' }}</h4>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon class="tertiary-txt-color" name="time" slot="start"></ion-icon>
          <ion-label>
            <p class="tertiary-txt-color">Appointment Time:</p>
            <h4 class="main-text-color">{{ booking.slot_start_time | dateWithTimezone: 'time' }} -
              {{ booking.slot_end_time | dateWithTimezone: 'time' }}</h4>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon class="tertiary-txt-color" name="pin" slot="start"></ion-icon>
          <ion-label>
            <p class="tertiary-txt-color">Appointment Location:</p>
            <h4 class="main-text-color">{{ booking.slot_venue }} | {{ booking.slot_room_code }}</h4>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon class="tertiary-txt-color" name="help-circle" slot="start"></ion-icon>
          <ion-label class="ion-text-wrap">
            <p class="tertiary-txt-color">Appointment Reason</p>
            <h4 class="main-text-color">{{ booking.reason }}</h4>
          </ion-label>
        </ion-item>
        <ion-item *ngIf="booking.additional_note">
          <ion-icon class="tertiary-txt-color" name="bookmark" slot="start"></ion-icon>
          <ion-label class="ion-text-wrap">
            <p class="tertiary-txt-color">Note</p>
            <h4 class="main-text-color">{{ booking.additional_note }}</h4>
          </ion-label>
        </ion-item>
        <ion-item *ngIf="booking.remark">
          <ion-icon *ngIf="booking.status !== 'Passed'; else consultationRemarksIcon" class="danger-text" name="close-circle" slot="start"></ion-icon>
          <ng-template #consultationRemarksIcon>
            <ion-icon class="tertiary-txt-color" name="clipboard" slot="start"></ion-icon>
          </ng-template>

          <ion-label class="ion-text-wrap">
            <span *ngIf="!(booking.status === 'Passed'); else consultationRemarks">
              <p class="danger-text">Cancellation Reason</p>
            </span>
            <ng-template #consultationRemarks>
              <p>Remarks</p>
            </ng-template>
            <h4 class="main-text-color">{{ booking.remark }}</h4>
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ng-container>
  <ng-template #loadingSlots>
    <ion-card class="ion-no-margin ion-margin-bottom">
      <ion-card-content class="ion-no-padding">
        <ion-item>
          <ion-skeleton-text animated style="line-height: 30px; width:100%"></ion-skeleton-text>
        </ion-item>
        <ion-item>
          <ion-skeleton-text animated style="line-height: 30px; width:80%"></ion-skeleton-text>
        </ion-item>
        <ion-item>
          <ion-skeleton-text animated style="line-height: 30px; width:90%"></ion-skeleton-text>
        </ion-item>
        <ion-item>
          <ion-skeleton-text animated style="line-height: 30px; width:60%"></ion-skeleton-text>
        </ion-item>
        <ion-item>
          <ion-skeleton-text animated style="line-height: 30px; width:45%"></ion-skeleton-text>
        </ion-item>
        <ion-item>
          <ion-skeleton-text animated style="line-height: 30px; width:100%"></ion-skeleton-text>
        </ion-item>
        <ion-item>
          <ion-skeleton-text animated style="line-height: 30px; width:30%"></ion-skeleton-text>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>