.popover-content {
  --width: 70% !important;

  .item.sc-ion-label-md-h,
  .item .sc-ion-label-md-h {
    white-space: pre-line;
  }
}

// Alert
.alert-wrapper {
  .alert-button-group {
    .cancel {
      color: var(--ion-color-medium);
    }
    .main {
      color: var(--ion-color-primary);
    }
  }

  .inline {
    &.absent {
      background: var(--ion-color-danger);
    }

    &.present {
      background-color: var(--ion-color-success);
    }

    &.late {
      background-color: var(--ion-color-warning);
    }

    &.cancel {
      span {
        color: var(--ion-color-medium) !important;
      }
    }

    span {
      justify-content: space-around;
      padding: 10px;
      color: #FFF;
    }
  }
}

.success-alert {
  .alert-wrapper {
    .alert-head {
      background-color: var(--ion-color-success);

      .alert-title,
      .alert-sub-title {
        color: #FFFFFF !important;
      }
    }

    .alert-message {
      padding-top: 10px !important;
      padding-bottom: 0 !important;
    }

    .alert-button-group {
      .main {
        color: var(--ion-color-success);
      }
    }
  }
}

.danger-alert {
  .alert-wrapper {
    .alert-head {
      background-color: var(--ion-color-danger);

      .alert-title,
      .alert-sub-title {
        color: #FFFFFF !important;
      }
    }

    .alert-message {
      padding-top: 10px !important;
      padding-bottom: 0 !important;
    }

    .alert-button-group {
      .main {
        color: var(--ion-color-danger);
      }
    }
  }
}

ion-refresher-content {
  position: relative;
  padding-bottom: 500px;
  background-color: var(--ion-background-color);

  .refresher-pulling, .refresher-refreshing {
    position: relative;
    top: 30px;
  }
}
