/* Settings font size
  =========================================*/
$settings-font-size-button: 16px;
$settings-font-size-input-field: 14px;
$settings-font-size-input-placeholder: 14px;
$settings-font-size-description: 0.8em;
$settings-font-size-label: 10px;

/* Settings font weight
  =========================================*/
$settings-font-weight-header: 300;
$settings-font-weight-button: 700;
$settings-font-weight-input-field: 400;
$settings-font-weight-input-placeholder: 400;
$settings-font-weight-description: 400;
$settings-font-weight-label: 600;

/* Settings text color
  =========================================*/
$settings-text-color-button: #ffffff;
$settings-text-input-color: #242424;
$settings-text-input-placeholder: #cccccc;
$settings-text-color-description: #242424;
$settings-text-color-description-links: #687dfc;
$settings-text-label-color: #ff0000;

/* Content
  ===============================*/
ion-content {
  position: relative;
  --background: #fafafa !important; // always light theme
}

ion-input {
  padding-left: 16px !important;
  --background: transparent;
}

.mobile {

  ion-item {
    // always light theme
    --background: #f5f5f5 !important;
    --color: #454343 !important;
    --button-background-activated: #e0e0e0 !important;
    --border-color: #e0e0e0 !important;
  }

  h1,
  h2 {
    line-height: 40px !important;
    font-size: 37px;
    text-align: left;
    color: #ccc;
    font-weight: bold;
  }

  h2 {
    font-size: 30px;
    line-height: 35px !important;
  }

  .main-grid {
    padding-top: constant(safe-area-inset-top); //for iOS 11.2
    padding-top: env(safe-area-inset-top); //for iOS 11.1
  }

  .btn_center {
    margin: 0 auto;
    width: 40%;
    display: block;
  }

  ion-grid {
    min-height: 100%;
  }

  [header] {
    flex: 1;
  }

  /* Settings logo
    ===============================*/
  [logo] {
    margin-bottom: 20px;
  }

  /* Settings title
    ===============================*/

  .title-text-wrapper {
    margin: 15px 0 !important;
  }

  strong {
    display: block;
  }

  /* Settings input-field
      ===============================*/
  [input-field] {
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #cccccc;
  }

  [input-field] .item:nth-last-child(1) .item-inner {
    border-bottom: none !important;
  }

  [input-field] .item-block {
    overflow: visible !important;
  }

  ion-item {
    --ion-background-color: transparent;
  }

  ion-item .item-inner {
    display: block !important;
    overflow: visible !important;
    border-bottom: 1px solid #cccccc !important;
    box-shadow: none !important;
  }

  /* Settings text-input
        ===============================*/
  .text-input {
    color: $settings-text-input-color;
    font-size: $settings-font-size-input-field;
    font-weight: $settings-font-weight-input-field;
    width: 100% !important;
    margin: 19px 20px;
  }

  /* Settings input-placeholder
        ===============================*/
  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: $settings-text-input-placeholder !important;
    font-size: $settings-font-size-input-placeholder !important;
    font-weight: $settings-font-weight-input-placeholder !important;
  }

  ::-moz-placeholder {
    /* Firefox 19+ */
    color: $settings-text-input-placeholder !important;
    font-size: $settings-font-size-input-placeholder !important;
    font-weight: $settings-font-weight-input-placeholder !important;
  }

  :-ms-input-placeholder {
    /* IE 10+ */
    color: $settings-text-input-placeholder !important;
    font-size: $settings-font-size-input-placeholder !important;
    font-weight: $settings-font-weight-input-placeholder !important;
  }

  :-moz-placeholder {
    /* Firefox 18- */
    color: $settings-text-input-placeholder !important;
    font-size: $settings-font-size-input-placeholder !important;
    font-weight: $settings-font-weight-input-placeholder !important;
  }

  /*Settings description
      ===============================*/
  [description] {
    margin: 20px 0;
  }

  [description] a {
    color: var(--ion-color-primary);
    font-size: $settings-font-size-description;
    font-weight: $settings-font-weight-description;
    text-decoration: none;
  }

  [description] p {
    color: $settings-text-color-description;
    font-size: $settings-font-size-description;
    font-weight: $settings-font-weight-description;
    line-height: 13px;
  }

  /* Settings full button - Login button
      ===============================*/
  .login-button {
    display: block;
    min-height: 50px;
    border-radius: 50px;
    margin-top: 25px;
    color: $settings-text-color-button;
    font-size: $settings-font-size-button;
    font-weight: $settings-font-weight-button;
    letter-spacing: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16) !important;
  }

  /* Responsive for tablet
 ===============================*/
  @media (min-width: 576px) {
    ion-grid {
      position: relative;
    }

    .title-text-wrapper {
      margin: 30px 0 !important;
    }

    form {
      margin-top: 0 !important;
    }
  }
}

.web-version {
  .glob-system-title {
    font-size: 38px !important;
  }

  .dark-color {
    color: #454343 !important;
  }

  .display-block {
    display: block;
  }

  .always-light-button {
    --color: #e9ecee;
    --color-hover: #cdd0d1;
  }

  .with-padding {
    padding-left: 5px;
    padding-right: 5px;
  }


  @media screen and (max-width: 756px) {
    .hide-on-small-devices {
      display: none;
    }

    .ion-padding.no-padding-on-small-devices {
      padding-left: 0 !important;
      padding-right: 0 !important;
      padding-bottom: 0 !important;
      padding-top: 0 !important;
    }

    .main-items {
      .box {
        height: 141px !important;

        .wave {
          top: -96% !important
        }

        .title {
          font-size: .9em !important;
        }

        .icon {
          font-size: 2em !important;
          top: 20px !important;
        }

        &:hover {
          .title {
            font-size: .8em !important;
          }
        }
      }
    }

    .operating-hours {
      .swiper-container {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
      }
    }

    .sub-footer {
      .group.ion-padding.ion-no-padding-bottom-on-small-devices {
        padding-bottom: 0 !important;
      }
    }
  }

  .header {
    background-color: #7fcec5;
    background-image: linear-gradient(315deg, #7fcec5 0%, #14557b 74%);

    .logo {
      padding: 10px 0;
      width: 100%;
    }
  }

  .login {
    color: #FFFFFF;
    background-color: #0d0a0b;
    background-image: linear-gradient(1deg, #0d0a0b 0%, #14557b 80%);

    .login-hidden-section {
      transition: all .6s;
      overflow: hidden;

      .vl {
        border-left: 6px solid green;
        height: 500px;
        position: absolute;
        left: 50%;
        margin-left: -3px;
        top: 0;
      }

      div.login-form-container {

        .input-container {
          p {
            margin-bottom: 4px;
            color: #FFFFFF !important;
          }

          ion-input {
            color: #091a26 !important;
            overflow: hidden;
            border-radius: 10px;

            &:before {
              content: "";
              position: absolute;
              background: inherit;
              z-index: -1;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              box-shadow: inset 0 0 2000px rgba(222, 227, 240, 0.56);
              filter: blur(2px);
            }

            &.passowrd-input {
              position: relative;

              .eye-button {
                z-index: 200;
                position: absolute;
                right: 10px;

                .show-password {
                  color: rgba(29, 71, 94, 1);
                }
              }
            }
          }
        }

        .login-button-container {
          margin-top: 25px;

          ion-button {
            --border-radius: 9px;
          }
        }
      }

      .login-instruction {
        .high-line-hight {
          line-height: 2.5em;
        }
      }

    }

  }

  .image-slider {
    .swiper-container {
      width: 100%;
      padding-top: 0;
      padding-bottom: 0;
    }

    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 100%;
      background-color: #fff;
      overflow: hidden;
      border-radius: 8px;

      .picture {
        width: 100%;

        img {
          width: 100%;
        }
      }
    }

    .swiper-button-prev {
      left: 20px;
    }

    .swiper-button-next {
      right: 37px;
    }

    .box {
      border-radius: 5px;
      box-shadow: 0 2px 30px rgba(black, .2);
      background: lighten(#f0f4c3, 10%);
      position: relative;
      overflow: hidden;

    }

  }

  .swiper-button-next,
  .swiper-button-prev {
    background-image: none !important;

    ion-icon {
      border-radius: 100%;
      padding: 6px;
      color: #E50565;
      background-color: rgb(16, 112, 161, 0.8);
    }
  }

  .main-items {
    background-color: #f0f7fa;
    background-image: linear-gradient(225deg, #f0f7fa, #f0f1fa);

    .box {
      height: 250px;
      border-radius: 5px;
      box-shadow: 0 2px 30px rgba(black, .2);
      background: lighten(#f0f4c3, 10%);
      position: relative;
      overflow: hidden;
      transform: translate3d(0, 0, 0);
      cursor: pointer;

      .wave {
        opacity: .4;
        position: absolute;
        top: -25%;
        left: 50%;
        width: 500px;
        height: 455px;
        margin-left: -250px;
        margin-top: -250px;
        transform-origin: 50% 48%;
        border-radius: 60%;

      }

      .icon {
        position: absolute;
        left: 0;
        top: 35px;
        width: 100%;
        z-index: 900;
        text-align: center;
        color: #FFFFFF;
        font-size: 3.5em;
        transition: all 0.5s;
      }

      .title {
        position: absolute;
        left: 0;
        bottom: 15px;
        width: 100%;
        z-index: 1;
        line-height: 27px;
        text-align: center;
        transform: translate3d(0, 0, 0);
        color: #14557b;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 0.1em;
        font-size: 1.3em;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
        word-spacing: 1000px;
        transition: all 0.5s;
      }

      &:after {
        content: '';
        display: block;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 11;
        transform: translate3d(0, 0, 0);
      }

      &:hover {
        .wave {
          animation: drift 2000ms infinite linear;

          &.-three {
            animation: drift 3000ms infinite linear;
          }

          &.-two {
            animation: drift 5000ms infinite linear;
            opacity: .1;
          }
        }

        .title {
          font-size: 1.5em;
        }

        .icon {
          font-size: 4em;
        }

      }

      &.course-materials {
        .wave {
          background: #FFAE84;
        }

        .title {
          color: #EC580B;
        }

        &:after {
          background: linear-gradient(to bottom, #FFAE84, rgba(221, 238, 255, 0) 80%, rgba(255, 255, 255, 0.5));
        }
      }

      &.intake-timetable {
        .wave {
          background: #77c5c0;
        }

        &:after {
          background: linear-gradient(to bottom, #14557b, rgba(221, 238, 255, 0) 80%, rgba(255, 255, 255, 0.5));
        }

      }

      &.holidays {
        .wave {
          background: #0f8221;
        }

        .title {
          color: #238440;
        }

        &:after {
          background: linear-gradient(to bottom, #0f8221, rgba(221, 238, 255, 0) 80%, rgba(255, 255, 255, 0.5));
        }
      }

      &.graduation {
        .wave {
          background: #BA7AFB;
        }

        .title {
          color: #6F1DC1;
        }

        &:after {
          background: linear-gradient(to bottom, #8159AB, rgba(221, 238, 255, 0) 80%, rgba(255, 255, 255, 0.5));
        }
      }
    }



    @keyframes drift {
      from {
        transform: rotate(0deg);
      }

      from {
        transform: rotate(360deg);
      }
    }
  }

  .news {
    ion-card {
      --background: #f5f5f5;

      ion-card-title {
        --color: #14557b;
      }
    }
  }

  .operating-hours {
    background-color: #7fcec5;
    background-image: linear-gradient(315deg, #7fcec5 0%, #14557b 74%);


    h2 {
      font-size: 1.8rem;
      padding: 0;
      margin: 0 10px 0 0;
      text-transform: uppercase;
      text-align: center;
    }

    h3 {
      font-size: 1.3rem;
      padding: 0;
      margin: 5px 0 5px 0;
      color: darkred;
    }

    p {
      padding: 0;
      margin: 0;
      font-size: 1rem;
      line-height: 1.5rem;
    }

    ion-segment.operation-hours-companies {
      ion-segment-button {
        --color: white;
        --color-checked: darkred !important;
        --indicator-color: white;
      }
    }

    .swiper-container {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .swiper-slide {
      width: 400px;
      height: 550px;
      padding: 5px;
    }

    .swiper-content {
      background-color: #fff;
      width: 100%;
      height: 100%;

      .top {
        width: 100%;
        height: 175px;
        position: relative;

        .calendar {
          width: 60px;
          height: 60px;
          float: right;
          background-color: darkred;
          border-radius: 50%;
          margin-right: 15px;
          margin-top: 15px;
          color: #fff;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-size: 1.7em;

          .date {
            font-size: 1.2rem;
            line-height: 1.3rem;
          }

          .month {
            font-size: .8rem;
          }
        }

        .photo-btn {
          position: absolute;
          bottom: 0;
          width: 100px;
          height: 40px;
          background-color: darkred;
          border: none;
          font-size: 1.2rem;
          font-weight: bold;
          color: #fff;
          transition: .2s all;
          display: flex;
          align-content: center;
          justify-content: center;

          .text {
            text-align: center;
            line-height: 40px;
          }
        }

        &.with-background {
          background-position: center;
          background-size: cover;
        }
      }

      .copy {
        padding-top: 20px;
      }

      .operation-hours-footer {
        position: absolute;
        bottom: 20px;
        background-color: darkred;
        width: calc(100% - 10px);

        p {
          color: white !important;
        }

        a {
          text-decoration: none;
          color: inherit;
        }
      }
    }
  }

  .sub-footer {
    background-color: #f0f7fa;
    background-image: linear-gradient(225deg, #f0f7fa, #f0f1fa);

    .title {
      color: #14557b;
      font-weight: bold;
      margin-bottom: 10px;
      font-size: 2em;
    }

    .support {
      .support-item {
        background-color: white;
        margin-bottom: 10px;
        margin-right: 3px;
        margin-left: 3px;

        &.general {
          border: 2px solid #14557b;

          .sub-title {
            background-color: #14557b;
          }
        }

        &.emergency {
          border: 2px solid #DB4437;

          .sub-title {
            background-color: #DB4437;
          }
        }

        &.weekends {
          border: 2px solid #DD5A16;

          .sub-title {
            background-color: #DD5A16;
          }
        }

        .sub-title {
          color: white;
          margin: 0;
          padding: 10px;
          font-weight: bold;
        }

        p {
          padding: 0 10px;
        }

        a {
          text-decoration: none;
          color: inherit;
        }
      }
    }

    .group {
      .sub-title {
        ion-text:hover {
          color: #14557b;
        }
      }
    }

    .stay-connected {

      ion-icon {
        font-size: 2.5em;
        padding: 5px;
        border-radius: 12px;
        color: #f0f7fa;
        cursor: pointer;
        transition: all 0.4s;

        &:not(:first-of-type) {
          margin-left: 10px;
        }

        &.facebook {
          background: #0D8CF0;

          &:hover {
            background: #f0f7fa;
            color: #0D8CF0;
          }
        }

        &.twitter {
          background: #1DA1F2;

          &:hover {
            background: #f0f7fa;
            color: #0D8CF0;
          }
        }

        &.linkedin {
          background: #2867b2;

          &:hover {
            background: #f0f7fa;
            color: #2867b2;
          }
        }

        &.google {
          background: #DB4437;

          &:hover {
            background: #f0f7fa;
            color: #DB4437;
          }
        }

        &.apple {
          background: #7d7d7d;

          &:hover {
            background: #f0f7fa;
            color: #7d7d7d;
          }
        }

        &.playstore {
          background: rgb(59, 204, 255);
          background: linear-gradient(30deg, rgba(59, 204, 255, 1) 24%, rgba(255, 51, 51, 1) 61%, rgba(255, 212, 0, 1) 78%, rgba(72, 255, 72, 1) 89%);

          &:hover {
            background: #f0f7fa;
            color: rgb(59, 204, 255);
          }
        }
      }
    }
  }

  .footer {
    color: #FFFFFF;
    background-color: #0d0a0b;
    background-image: linear-gradient(1deg, #0d0a0b 0%, #14557b 80%);

    .small-text {
      font-size: 0.8em !important; // TODO: remove important when we merge Raeveen's code
    }
  }
}
