<ion-header>
  <ion-toolbar mode="md">
    <ion-title>Feedback</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="glob-container">
    <ion-grid>
      <ion-row>
        <ion-col size-xs="12" size-md="5" push-md="7">
          <ion-card>
            <ion-card-header>
              <ion-card-title color="danger" class="glob-text-bold">Important Notice</ion-card-title>
            </ion-card-header>
            <ion-card-content class="ion-padding-top">
              <ion-text>
                <p>
                  This Service can be used when you have any questions, concerns, or feature request <ion-text
                    color="danger">related to APSpace</ion-text>.
                </p>
                <br>
                <p>
                  The feedback will be received by the <span class="glob-text-bold">Centre of Technology and Innovation
                    (CTI)</span>
                  and we will do our best to keep up the standards so you enjoy our service.
                </p>
                <br>
                <p class="glob-text-bold">
                  Please note that your identity or contact information will BE REVEALED to the person receiving this
                  Feedback.
                </p>
                <br>
                <ion-text color="danger">
                  <p>
                    If you have a feedback which is not related to the APSpace (ex: feedback related to buses, network,
                    classrooms...), you can use our
                    <a tappable="true" class="glob-text-bold" (click)="openOnlineFeedbackSystem()">Online Feedback System</a>
                    to send your feedback to the person who is in charge.
                  </p>
                </ion-text>
              </ion-text>

            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col size-xs="12" size-md="7" pull-md="5">
          <ion-card>
            <ion-card-header color="primary">
              <ion-card-title>Your Feedback</ion-card-title>
            </ion-card-header>
            <ion-card-content class="ion-no-padding">
              <ion-item lines="full">
                <ion-label position="floating">Message:</ion-label>
                <ion-textarea autoGrow [(ngModel)]="message"
                  (ngModelChange)="onMessageFieldChange($event)" required="true"></ion-textarea>
              </ion-item>

              <ion-item lines="full">
                <ion-label position="stacked">Contact Number: <small>(Optional)</small></ion-label>
                <ion-input placeholder="ex. 0123456789" type="text" [(ngModel)]="contactNo"
                  (ngModelChange)="onPhoneNumberChange()">
                </ion-input>
              </ion-item>
              <div class="ion-padding-start ion-padding-end">
                <ion-text color="danger">
                  <small *ngIf="contactNo && !phoneNumberValid">Phone
                    number is invalid. Please check the
                    number and enter a correct phone number (Exactly 10 or 11 digits)
                  </small>
                </ion-text>
              </div>
              <ion-item lines="full">
                <ion-label position="stacked">App Version</ion-label>
                <ion-input type="text" disabled [value]="appVersion"></ion-input>
              </ion-item>
              <ion-item lines="full">
                <ion-label position="stacked">Screen Size</ion-label>
                <ion-input type="text" disabled [value]="screenSize"></ion-input>
              </ion-item>

              <ion-item lines="full">
                <ion-label position="stacked">Platform</ion-label>
                <ion-textarea type="text" disabled [value]="platform"></ion-textarea>
              </ion-item>

              <div class="ion-padding ion-text-right">
                <ion-button (click)="submitFeedback()"
                  [disabled]="!message || (!phoneNumberValid && contactNo !== '')">
                  Submit
                  <ion-icon name="send" slot="end"></ion-icon>
                </ion-button>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>