$card-colors: (
  "green": var(--success-color),
  "yellow": #dfa847,
  "pink": #ec2a4d,
  "red": var(--danger-color)
);

h3, h4 {
  color: var(--primary-color);
}

ion-col, ion-row {
  padding: 0 0 0 0 !important;
}

ion-card {
  ion-list-header {
    border-color: var(--primary-color) !important;

    ion-label {
      color: var(--primary-color);
    }
  }
}
ion-card {
  ion-card-content {
    ion-item {
      color: var(--secondary-txt-color);
      ion-note {
        font-size: 14px;
        color: var(--main-txt-color);
      }
    }
  }

}

.amount {
  padding-top: 5px;
  font-weight: bold;
  font-size: 17px;
}

.border {
  border-left: 3px solid;
}

ion-card {
  border-radius: 4px;

    @mixin total-summary-card($card-color-name, $card-color) {
      border-bottom: 8px solid $card-color;
  
      ion-card-header {
      ion-card-title,
      ion-card-subtitle {
        color: $card-color;
      }
    }

    ion-item.#{$card-color-name}-text {
      color: $card-color;

      ion-label, ion-note {
        color: var(--secondary-txt-color);
      }
    }
  }
   
  @each $color-name, $color-value in $card-colors {
    &.#{$color-name}-total-summary-card {
      @include total-summary-card($color-name, $color-value);
    }
  }

  &.content-card {
    ion-card-header {
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }
  }

  .card-content-ios {
    ion-note {
      font-size: 12px;
    }
  }
}

div.sticky-segment-div {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-txt-color {
  color: var(--ion-color-tertiary)
}
