<ion-header [hidden]="comingFromTabs()">
  <ion-toolbar mode="md">
    <ion-title>
      Attendance
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" pullMax="400" pullMin="60" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshing-spinner="dots" pullingIcon="refresh"></ion-refresher-content>
  </ion-refresher>
  <div class="glob-container">
    <ion-grid *ngIf="course$ | async">
      <ion-row>
        <ion-col size="12" size-md="4" push-md="8">
          <ng-container *ngIf="average >= 0; else noAverageAvailable">
            <ion-card class="ion-no-margin ion-margin-top" [color]="average >= 0.8 ? 'success' : 'danger'">
              <ion-card-header class="ion-no-padding ion-padding-bottom">
                <ion-item [color]="average >= 0.8 ? 'success' : 'danger'">
                  <ion-label position="floating">Intake</ion-label>
                  <ion-select [(ngModel)]="selectedIntake" (ngModelChange)="intakeChanged()" value="notifications"
                    interface="action-sheet">
                    <ion-select-option *ngFor="let intake of intakeLabels" [value]="intake">{{intake}}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-card-subtitle class="ion-text-center ion-padding-top"
                  color="medium">
                  Overall Intake Attendance
                </ion-card-subtitle>
                <ion-card-title
                  class="ion-text-center glob-text-bold"
                  [color]="average >= 0.8 ? 'success' : 'danger'">
                  <h2 class="ion-no-margin">{{ average * 100 | number: "1.0-1" }}%</h2>
                </ion-card-title>
              </ion-card-header>
              <ion-card-content class="ion-no-padding ion-padding-bottom ion-text-center">
                <ion-button class="ion-no-margin" size="small" color="light" fill="outline"
                  [routerLink]="['/attendix/update']">
                  Sign Class Attendance
                  <ion-icon name="checkmark-done-circle-outline" slot="end"></ion-icon>
                </ion-button>
              </ion-card-content>
            </ion-card>
          </ng-container>
          <ng-template #noAverageAvailable>
            <ng-container *ngIf="average == -1; else loadingAverage">
              <ion-card class="ion-no-margin ion-margin-top">
                <ion-card-header class="ion-no-padding">
                  <ion-item [color]="average == -1 ? '' : average >= 0.8 ? 'success' : 'danger'">
                    <ion-label position="floating">Intake</ion-label>
                    <ion-select [(ngModel)]="selectedIntake" (ngModelChange)="intakeChanged()" value="notifications"
                      interface="action-sheet">
                      <ion-select-option *ngFor="let intake of intakeLabels" [value]="intake">{{intake}}
                      </ion-select-option>
                    </ion-select>
                  </ion-item>
                  <ion-card-title color="danger" class="ion-text-center ion-padding-start ion-padding-end">
                    No Attendance Data for {{selectedIntake}}
                  </ion-card-title>
                  <ion-card-subtitle class="ion-padding-start ion-padding-end ion-padding-bottom">
                    Either the intake just started or your lecturers did not upload your attendance for any of your
                    modules
                  </ion-card-subtitle>
                </ion-card-header>
              </ion-card>
            </ng-container>
            <ng-template #loadingAverage>
              <ion-card class="ion-no-margin ion-margin-top">
                <ion-card-header class="ion-no-padding">
                  <ion-item>
                    <ion-label position="floating">Intake</ion-label>
                    <ion-select [(ngModel)]="selectedIntake" (ngModelChange)="intakeChanged()" value="notifications"
                      interface="action-sheet">
                      <ion-select-option *ngFor="let intake of intakeLabels" [value]="intake">{{intake}}
                      </ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-card-header>
                <ion-card-content class="ion-no-padding">
                  <ion-skeleton-text class="ion-no-margin" animated style="height: 120px; width: 100%;">
                  </ion-skeleton-text>
                </ion-card-content>
              </ion-card>
            </ng-template>
          </ng-template>

          <div class="h-mobile-d-desktop ion-margin-top">
            <div *ngIf="legend$ | async as legend; else loadLegend">
              <ion-card class="legend ion-no-margin">
                <ion-card-header>
                  <ion-card-title color="primary">Legend</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <ion-row *ngFor="let l of legend | keyvalue">
                    <ion-col col-3>{{ l.key }}</ion-col>
                    <ion-col col-9>{{ l.value }}</ion-col>
                  </ion-row>
                </ion-card-content>
              </ion-card>
            </div>

            <ng-template #loadLegend>
              <ion-card>
                <ion-item>
                  <ion-skeleton-text style="width: 100%; height: 200px;" animated></ion-skeleton-text>
                </ion-item>
              </ion-card>
            </ng-template>
          </div>
        </ion-col>

        <ion-col size="12" size-md="8" pull-md="4">
          <ng-template let-attendances [ngIf]="attendance$ | async" [ngIfElse]="loadAttendance">
            <ng-container *ngIf="attendances.length > 0; else noAttendanceRecords">
              <ng-container *ngFor="let semester of attendances | reverse">
                <ion-card class="ion-no-margin ion-margin-top">
                  <ion-card-header color="secondary">
                    <ion-card-title>Semester {{semester.semester}}</ion-card-title>
                  </ion-card-header>
                  <ion-card-content class="ion-no-padding">
                    <ion-list class="ion-no-padding">
                      <ion-item lines="full" *ngFor="let module of semester.value" detail="true" button="true"
                        tappable="true" (click)="attendanceDetails(module.MODULE_ATTENDANCE, selectedIntake, module.SUBJECT_CODE)">
                        <ion-label class="glob-white-space-normal">
                          <ion-grid>
                            <ion-row>
                              <ion-col size="12">
                                <ion-text>
                                  <h3 class="glob-text-bold">
                                    {{ module.MODULE_ATTENDANCE }}
                                    <ion-badge *ngIf="module.RETAKE" color="danger">Retake</ion-badge>
                                  </h3>
                                  <small *ngIf="module.RETAKE">{{module.START_DATE}} To {{module.END_DATE}}</small>
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col size="6">
                                <p>
                                  <small>Classes:</small>
                                  <ion-text [color]="module.PERCENTAGE >= 80 ? 'success' : 'danger'"
                                    class="glob-text-bold">
                                    {{ module.TOTAL_CLASSES -
                                                module.TOTAL_ABSENT +
                                                  "/" +
                                                  module.TOTAL_CLASSES +
                                                  " (" +
                                                  module.PERCENTAGE +
                                                  "%)" }}
                                  </ion-text>
                                </p>
                              </ion-col>
                              <ion-col size="6">
                                <p>
                                  <small>Exam Eligibility:</small>
                                  <ion-text class="glob-text-bold"
                                    [color]="module.EXAM_ELIGIBILITY === 'Eligible' ? 'success' : 'danger'">
                                    {{ module.EXAM_ELIGIBILITY }}
                                  </ion-text>
                                </p>
                              </ion-col>
                            </ion-row>
                          </ion-grid>
                        </ion-label>
                      </ion-item>
                    </ion-list>
                  </ion-card-content>
                </ion-card>
              </ng-container>
            </ng-container>
            <ng-template #noAttendanceRecords>
              <ion-card class="ion-no-margin">
                <ion-card-content>
                  <app-message-with-svg imageUrl="assets/img/search-not-found.svg"
                    messageTitle="Opps! No Attendance Records Found for {{selectedIntake}}."
                    messageContent="Perhaps you can try this:" wrapperSize="4" wrapperMarginTop="30px" wrapperOffset="4"
                    [advancedMode]="true">
                    <div class="flex-container">
                      <ul class="list-txt-color">
                        <li>Make sure you selected the right intake</li>
                        <li>Make sure your lecturer marked your attendance at least once using AttendiX</li>
                      </ul>

                      <p>Still having trouble? No worries! Just click <a [routerLink]="'/feedback'">here</a> and
                        report the issue to us.</p>
                    </div>
                  </app-message-with-svg>
                </ion-card-content>
              </ion-card>
            </ng-template>
          </ng-template>
          <ng-template #loadAttendance>
            <ion-card class="ion-no-margin ion-margin-top">
              <ion-card-header color="secondary">
                <ion-card-title>
                  <ion-skeleton-text animated style="width: 57%; height: 20px;"></ion-skeleton-text>
                </ion-card-title>
              </ion-card-header>
              <ion-card-content class="ion-no-padding">
                <ion-item lines="full" *ngFor="let _ of skeletons">
                  <ion-label>
                    <ion-skeleton-text animated style="width: 100%; height: 20px;"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width: 40%; height: 20px; float:left"></ion-skeleton-text>
                    <div style="width: 30%; height: 20px; float: left;"></div>
                    <ion-skeleton-text animated style="width: 20%; height: 20px; float:left"></ion-skeleton-text>
                  </ion-label>
                </ion-item>
              </ion-card-content>
            </ion-card>

            <ion-card>
              <ion-grid>
                <ion-row>
                  <ion-col size="12" size-md="6">
                    <ion-card>
                      <ion-item>
                        <ion-skeleton-text style="width: 100%" animated></ion-skeleton-text>
                      </ion-item>
                    </ion-card>
                  </ion-col>
                  <ion-col size="12" size-md="6">
                    <ion-card>
                      <ion-item>
                        <ion-skeleton-text style="width: 100%" animated></ion-skeleton-text>
                      </ion-item>
                    </ion-card>
                  </ion-col>
                  <ion-col size="12" size-md="6">
                    <ion-card>
                      <ion-item>
                        <ion-skeleton-text style="width: 100%" animated></ion-skeleton-text>
                      </ion-item>
                    </ion-card>
                  </ion-col>
                  <ion-col size="12" size-md="6">
                    <ion-card>
                      <ion-item>
                        <ion-skeleton-text style="width: 100%" animated></ion-skeleton-text>
                      </ion-item>
                    </ion-card>
                  </ion-col>
                  <ion-col size="12" size-md="6">
                    <ion-card>
                      <ion-item>
                        <ion-skeleton-text style="width: 100%" animated></ion-skeleton-text>
                      </ion-item>
                    </ion-card>
                  </ion-col>
                  <ion-col size="12" size-md="6">
                    <ion-card>
                      <ion-item>
                        <ion-skeleton-text style="width: 100%" animated></ion-skeleton-text>
                      </ion-item>
                    </ion-card>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card>
          </ng-template>
        </ion-col>

        <ion-col size="12" size-md="4" class="h-desktop-d-mobile">
          <div *ngIf="legend$ | async as legend; else loadLegend">
            <ion-card class="legend ion-no-margin">
              <ion-card-header>
                <ion-card-title color="primary">Legend</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-row *ngFor="let l of legend | keyvalue">
                  <ion-col col-3>{{ l.key }}</ion-col>
                  <ion-col col-9>{{ l.value }}</ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </div>

          <ng-template #loadLegend>
            <ion-card>
              <ion-item>
                <ion-skeleton-text style="width: 100%; height: 200px;" animated></ion-skeleton-text>
              </ion-item>
            </ion-card>
          </ng-template>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
