.table {

  .table-header {
    padding: 7px 0 10px 0;
    font-weight: bold;

    ion-text {
      font-size: 1rem;
    }
  }

  .table-row {
    padding-top: 5px;
    padding-bottom: 0;

    &:nth-child(even){
      background-color: var(--ion-color-light);
    }
  }

}


.show-only-on-small-devices {
  display: none !important;
}

.show-only-on-other-devices {
  display: inline-block !important;
}

.margin-auto {
  margin: auto;
}

.top-bottom-margin-auto {
  margin-top: auto;
  margin-bottom: auto;
}


// media queries for changing table to card design in small devices
@media (max-width: 575px) {

  // small screen
  .table-header {
    display: none;
  }

  .table-row {
    &.text-bold.no-bold-on-small-devices {
      font-weight: normal !important;
    }

    .ion-text-center.no-center-on-small-devices {
      text-align: left !important;
    }

    .title-on-small-devices {
      font-size: 1.1rem;
      font-weight: bold;
    }
  }

  .show-only-on-small-devices {
    display: inline-block !important;
  }

  .show-only-on-other-devices {
    display: none !important;
  }

  .border-bottom {
    border-bottom: 1px solid var(--main-txt-color) !important;
  }

  .bold-on-small-devices {
    font-weight: bold;
  }
}
