<ion-content>
  <div class="glob-container">
    <ion-grid>
      <ion-row [style.marginTop]="forceUpdate ? '80px' : '50px'">
        <ion-col size-xs="10" offset-xs="1" size-md="4" offset-md="4">
          <ion-img [src]="forceUpdate ? 'assets/img/update.svg' : 'assets/img/maintenance.svg'"></ion-img>
        </ion-col>
        <ion-col size="10" offset="1" class="ion-margin-top">
          <ion-text color="primary">
            <h3 class="ion-text-center glob-text-bold">
              {{forceUpdate ? 'Update Required' : 'System Under Maintenance'}}
            </h3>
          </ion-text>
          <ion-text color="primary">
            <h5 class="ion-text-center glob-text-bold">
              {{ forceUpdate ? 'APSpace needs an update!' : 'We will be back soon' }}</h5>
          </ion-text>
          <p class="ion-text-center ion-margin-top" *ngIf="forceUpdate; else maintenanceMode">
            Your version of APSpace is no longer supported. You will need to update it to continue using APSpace
          </p>
          <ng-template #maintenanceMode>
            <p class="ion-margin-top ion-text-center">
              Sorry for the inconvenience but we are performing some maintenance at the moment. If you need to, you can
              always <span class="contact-us" routerLink="/feedback">contact us</span>, otherwise we&rsquo;ll be back
              online shortly!
            </p>
          </ng-template>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="forceUpdate" class="ion-margin-top">
        <ion-col size="10" offset="1">
          <ion-button expand="block" (click)="openStore()" color="primary" class="glob-text-bold">
            Update
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>