<ion-grid>
  <ion-row>
    <ion-col [style.marginTop]="wrapperMarginTop" [attr.offset]="wrapperOffset" [attr.size]="wrapperSize">
      <ion-img [src]="imageUrl"></ion-img>
    </ion-col>
    <ion-col size="10" offset="1" class="ion-margin-top">
      <ion-text color="primary">
        <h3 class="ion-text-center glob-text-bold">{{ messageTitle }}</h3>
      </ion-text>
        <p *ngIf="messageContent" class="ion-margin-top ion-text-center">
          {{ messageContent }}
        </p>
      <div *ngIf="advancedMode">
        <ng-content></ng-content>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
